[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.7"
djangorestframework = "==3.13.1"
django-environ = "==0.10.0"
pre-commit = "==3.2.1"
psycopg2-binary = "*"
lxml = "*"
pillow = "*"
django-cors-headers = "==3.14.0"
drf-yasg = "==1.20.0"
rich = "==13.3.3"
django-log-request-id = "==2.1.0"
gunicorn = "==20.1.0"
redis = "==4.5.4"
celery = "==5.2.7"
django-celery-beat = "==2.5.0"
pyjwt = "==2.6.0"
cryptography = "==40.0.1"
pytesseract = "*"
opencv-python = "*"
matplotlib = "*"
Pillow = "*"
kfp = "==1.8.21"
pyyaml = "==5.3.1"
django-prometheus = "*"
graphite = "*"

[requires]
python_version = "3.11"
